<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="maxFileSize" value="5MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="C:/logs/StoreBilling.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %-5p %c{1}:%L, - %m%n" />
		</layout>
	</appender>

	<appender name="TraceFile" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="TRACE" />
		<param name="maxFileSize" value="5MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="C:/logs/StoreBilling_TRACE.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %-5p %c{1}:%L, - %m%n" />
		</layout>
	</appender>

	<category name="com.retail" additivity="false">
		<priority value="PERF" class="com.retail.store.util.logging.PerfLevel" />
		<appender-ref ref="file" />
		<appender-ref ref="TraceFile" />
	</category>

	<category name="org.infinispan" additivity="false">
		<priority value="WARN" />
	</category>

	<category name="org.apache.activemq" additivity="false">
		<priority value="WARN" />
	</category>

	<category name="org.hibernate" additivity="false">
		<priority value="WARN" />
	</category>

	<category name="org.jboss.logging" additivity="false">
		<priority value="WARN" />
	</category>

	<category name="org.slf4j" additivity="false">
		<priority value="off" />
	</category>
	<category name="com.espertech" additivity="false">
		<priority value="off" />
	</category>
	<category name="com.mchange" additivity="false">
		<priority value="off" />
	</category>
	<category name="org.jgroups" additivity="false">
		<priority value="off" />
	</category>
	
	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
		<appender-ref ref="TraceFile" />
	</root>

</log4j:configuration>